.header {
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(90deg, $header-color, #000);

  &__button {
    @include on-tablet {
      display: none;
    }
  }

  &__content {
    display: grid;
    padding-inline: 20px;

    @include page-grid;

    @include on-tablet {
      padding-inline: 30px;
    }

    @include on-desktop {
      padding-inline: 110px;
    }

    @include on-design {
      padding-inline: 234px;
    }
  }

  &__img {
    grid-column: 1/-1;
    background-image: url(/images/header-img.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 172px;

    @include on-tablet {
      background-image: url(/images/header-tablet.png);
      grid-column: 3/-1;
      grid-row: 2;
      height: 348px;
    }

    @include on-desktop {
      background-image: url(/images/header-big.png);
      background-repeat: no-repeat;
      background-position: center;
      grid-column: 6/-1;
    }

    @include on-design {
      background-image: url(/images/header-design.png);
      background-repeat: no-repeat;
      background-position: center;
      grid-column: 5/-1;
      height: 100%;
    }
  }

  &__wrapper {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
      grid-row: 2;
    }

    @include on-desktop {
      grid-column: 1/7;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 130%;

    &--bold {
      color: $white-color;
    }

    &--thin {
      color: $blue-color;
      font-weight: 400;
    }

    @include on-desktop {
      font-size: 46px;
    }

    @include on-design {
      font-size: 50px;
      margin-left: 20px;
    }
  }

  &__text {
    color: $text-color;
    margin-top: 17px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;

    @include on-desktop {
      margin-top: 19px;
      margin-inline: 92px;
    }

    @include on-design {
      margin-top: 30px;
    }
  }

  &__price {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    margin-block: 8px 25px;
    color: $white-color;
    text-align: center;

    @include on-tablet {
      margin-block: 10px 33px;
      text-align: left;
    }

    @include on-desktop {
      margin-block: 10px 19px;
      margin-left: 92px;
    }

    @include on-design {
      margin-block: 35px;
    }
  }

  &__video {
    width: 100%;
    height: 66px;
    margin-bottom: 32px;
    background-image: url(/images/icons/button-play.svg);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/images/icons/button-selected.svg);
    }

    @include on-tablet {
      margin-bottom: 70px;
    }

    @include on-desktop {
      margin-bottom: 83px;
      margin-left: 92px;
    }

    @include on-design {
      margin-bottom: 221px;
    }
  }

  &__desktop {
    display: none;

    @include on-desktop {
      display: flex;
      justify-content: space-between;
      padding-inline: 110px;
      padding-bottom: 84px;
    }

    @include on-design {
      padding-inline: 234px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 39px;
    list-style: none;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $white-color;
    text-decoration: none;

    &--more {
      color: $blue-color;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__arrow {
    font-size: 6px;
  }

  &__dropdown {
    display: flex;
    flex-direction: row;
    gap: 103px;
  }

  &__sublink {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $white-color;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: $blue-color;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover,
    &.active {
      color: $text-color;

      &::after {
        opacity: 1;
      }
    }
  }
}
