.page {
  background-color: #05040b;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.3s;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }

  &__help {
    position: fixed;
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.3s;
    z-index: 4;
    inset: 0;
    overflow-y: auto;

    pointer-events: none;

    @include on-tablet {
      inset: 0 0 300px;
    }

    @include on-desktop {
      inset: 0;
      top: 40%;
      left: 50%;
      width: 880px;
      height: 550px;
      max-width: 90vw;
      max-height: 90vh;
      transform: translate(-50%, -50%);

      overflow-y: auto;
      background-color: $menu-bg;
      z-index: 999;
    }

    @include on-design {
      width: 1083px;
      height: 518px;
      top: 40%;
    }

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);

      @include on-desktop {
        transform: translate(-50%, -50%);
      }
    }
  }

  &__faq {
    position: fixed;
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.3s;
    z-index: 4;
    inset: 0;
    overflow-y: auto;

    pointer-events: none;

    @include on-desktop {
      inset: 0;
      top: 50%;
      left: 50%;
      width: 880px;
      height: 854px;
      max-width: 90vw;
      max-height: 90vh;
      transform: translate(-50%, -50%);

      overflow-y: auto;
      background-color: $menu-bg;
      z-index: 999;
    }

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);

      @include on-desktop {
        transform: translate(-50%, -50%);
      }
    }

    @include on-design {
      width: 1083px;
      height: 790px;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
