.page {
  background-color: #05040b;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.3s;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
